  

<div class = "container push-down1">


  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- Show welcome message when logged in -->
    <h2><span ng-show="auth.isLogged" class="label label-success">{{message.success}}</span></h2>

    <!-- Form to input username and password  -->
    <form name="fmLogin" novalidate ng-show="!AuthenticationService.isLogged" ng-submit="login()">

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="user.username" ng-required="true">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="user.password" ng-required="true">
      </div>

      <button type="submit" class="btn btn-warning btn-lg" ng-disabled="fmLogin.$invalid">Login</button>


    </form>
    
    <h2><span class="label label-info">{{message.info}}</span></h2>
    <h2><span class="label label-warning">{{message.error}}</span></h2>

    <hr>

    <p>Need an account? <a href="#/register">Register</a></p>
    <p>Or go <a href="#/">home</a>.</p>

    </div>

</div>
